[Unit]
Description=AMDGPU Shell Overclock Utility
Requires=modprobe@amdgpu.service
After=multi-user.target systemd-user-sessions.service graphical.target
Wants=modprobe@amdgpu.service
StartLimitBurst=3
StartLimitIntervalSec=3

[Service]
Type=simple
ExecStart=/usr/bin/amdocshstart
ExecStop=/usr/bin/amdocshreset
StandardOutput=file:/tmp/amdocsh.log
StandardError=file:/tmp/amdocsh.log
RemainAfterExit=yes
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
